
h1 {
    color: blue;
    text-decoration: underline;
}
body  {
    background-image: url("https://images.freecreatives.com/wp-content/uploads/2015/03/Huge-Backgrounds-58.jpg");
    background-size: 1280px 480px;
}

p  {
  font-family:cursive;
  color: black;
  text-decoration: ;
}
li {
  font-family:cursive;
  color: black;
  text-decoration: ;
}
.dropdown {
    position: relative;
    display: inline-block;
}
table, th, td {
    border: 1px solid blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

